<% set_meta_tags title: "プロフィール設定完了" %>
<% set_meta_tags noindex: true %>

<%= render :partial => "setting_menu" %>
<div class="form-settings">
    <h4>プロフィール設定完了</h4>
    <div class="done-message">プロフィールを更新しました</div>
    <div class="done-backlink"><%= link_to("設定画面に戻る" , "/settings/profile") %></div>
</div>
