<% set_meta_tags title: "退会完了" %>
<% set_meta_tags noindex: true %>

<%= render :partial => "setting_menu" %>
<div class="form-settings">
    <h4>退会完了</h4>
    <div class="done-message">『Praidea』を退会しました</div>
    <div class="done-backlink"><%= link_to("トップ画面に戻る" , "/") %></div>
</div>
