<% set_meta_tags title: "利用規約" %>
<% set_meta_tags noindex: true %>

<h1>利用規約</h1>
<div class="terms-contents">
    <p>
        本利用規約（以下「本規約」という）には、『Praidea』（以下「本サービス」という）の提供条件
        およびアキオ（以下「運営者」という）と登録ユーサーの皆様との間の権利義務関係が定められています。
        本サービスの利用に関しては、本規約の全文をお読みいただいた上で、本規約に同意いただく必要があります。
    </p>
    <h3>第1条（適用）</h3>
    <p>
        本規約は、本サービスの提供条件および本サービスの利用に関する運営者と登録ユーザーとの間の権利義務関係を定めることを目的とし、
        登録ユーザーと運営者との間の本サービスの利用に係る一切の関係に適用されます。
    </p>
    <h3>第2条（定義）</h3>
    <p>
        本規約において使用する以下の言語は、各々以下に定める意味を有するものとします。
    </p>
    <ol>
        <li>
            <p>
                「サービス利用規約」とは、本規約を契約条件として運営者と登録ユーザーの間で締結される、本サービスの利用規約を意味します。
            </p>
        </li>
        <li>
            <p>
                「知的財産権」とは、
                著作権、特許権、実用新案権、意匠権、商標権その他の知的財産（それらの権利を取得し、またはそれらの権利につき登録等を出願する権利を含みます）を意味します。
            </p>
        </li>
        <li>
            <p>
                「投稿データ」とは、
                登録ユーザーが本サービスを利用して投稿その他送信するコンテンツ（文章、画像、その他データを含みますがこれらに限りません）を意味します。
            </p>
        </li>
        <li>
            <p>
                「運営者」とは、当Webサイトを運営している「アキオ」を意味します。
            </p>
        </li>
        <li>
            <p>
                「当Webサイト」とは、そのドメインが「https://praiseidea.com」である、
                運営者が運営するWebサイト（理由の如何を問わず、当Webサイトのドメインまたは内容が変更された場合は、当該変更後のWebサイトを含む）を意味します。
            </p>
        </li>
        <li>
            <p>
                「登録ユーザー」とは、第３条（登録）に基づいて本サービスの利用者としての登録がなされた個人または法人を意味します。
            </p>
        </li>
        <li>
            <p>
                「本サービス」とは、運営者が提供する『Praidea』という名称のサービス（理由の如何を問わずサービスの名称または内容が変更された場合は、
                当該変更後のサービスを含む）を意味します。
            </p>
        </li>
    </ol>
    <h3>第3条（登録）</h3>
    <ol>
        <li>
            <p>
                本サービスの利用を希望する者（以下「登録希望者」という）は、本規約を遵守することに同意し、かつ運営者の定める一定の情報（以下「登録事項」という）を運営者の定める方法で運営者に提供することにより、運営者に対し、本サービスの利用の登録ができます。
            </p>
        </li>
        <li>
            <p>
                登録の完了時に、サービス利用契約が登録ユーザーと運営者の間に成立し、登録ユーザーは本サービスを本利用契約に従い利用することができるようになります。
            </p>
        </li>
    </ol>
    <h3>第4条（禁止事項）</h3>
    <p>
        登録ユーザーは、本サービスの利用にあたり、以下の各号に該当する行為、または該当すると運営者が判断する行為をしてはいけません。
    </p>
    <ol>
        <li>
            <p>
                法令に違反する行為または犯罪行為に関連する行為
            </p>
        </li>
        <li>
            <p>
                運営者、本サービスの他の利用者またはその他の第三者に対する詐欺または脅迫行為
            </p>
        </li>
        <li>
            <p>
                公序良俗に反する行為
            </p>
        </li>
        <li>
            <p>
                運営者、本サービスの他の利用者またはその他の第三者の知的財産権、肖像権、プライバシーの権利、名誉、その他の権利または利益を侵害する行為
            </p>
        </li>
        <li>
            <p>
                本サービスを通じ、以下に該当し、または該当すると運営者が判断する情報を運営者または本サービスの他の利用者に送信すること
            </p>
            <ul>
                <li>
                    <p>
                        過度に暴力的または残虐な表現を含む情報
                    </p>
                </li>
                <li>
                    <p>
                        コンピュータ・ウィルス、その他の有害なコンピュータ・プログラムを含む情報
                    </p>
                </li>
                <li>
                    <p>
                        運営者、本サービスの他の利用者またはその他の第三者の名誉または信用を毀損する表現を含む情報
                    </p>
                </li>
                <li>
                    <p>
                        過度にわいせつな表現を含む情報
                    </p>
                </li>
                <li>
                    <p>
                        差別を助長する表現を含む情報
                    </p>
                </li>
                <li>
                    <p>
                        自殺、自傷行為を助長する表現を含む情報
                    </p>
                </li>
                <li>
                    <p>
                        薬物の不適切な利用を助長する表現を含む情報
                    </p>
                </li>
                <li>
                    <p>
                        反社会的な表現を含む情報
                    </p>
                </li>
                <li>
                    <p>
                        チェーンメール等の第三者への情報を拡散を求める情報
                    </p>
                </li>
                <li>
                    <p>
                        他人に不快感を与える表現を含む情報
                    </p>
                </li>
            </ul>
        </li>
        <li>
            <p>
                本サービスのネットワークまたはシステム等に過度な負荷をかける行為
            </p>
        </li>
        <li>
            <p>
                運営者が提供するアプリケーション、その他システムに対するリバースエンジニアリング、その他の解析行為
            </p>
        </li>
        <li>
            <p>
                本サービスの運営を妨害する恐れのある行為
            </p>
        </li>
        <li>
            <p>
                運営者のネットワークまたはシステム等への不正アクセス
            </p>
        </li>
        <li>
            <p>
                第三者になりすます行為
            </p>
        </li>
        <li>
            <p>
                本サービスの他の利用者のパスワードおよびメールアドレスを利用する行為
            </p>
        </li>
        <li>
            <p>
                運営者が事前に許諾しない本サービス上での宣伝、広告、勧誘、または営業行為
            </p>
        </li>
        <li>
            <p>
                本サービスの他の利用者の情報の収集
            </p>
        </li>
        <li>
            <p>
                運営者、本サービスの他の利用者またはその他の第三者に不利益、損害、不快感を与える行為
            </p>
        </li>
        <li>
            <p>
                面識のない異性との出会いを目的とした行為
            </p>
        </li>
        <li>
            <p>
                前各号の行為を直接または間接に惹起し、または容易にする行為
            </p>
        </li>
        <li>
            <p>
                前各号の行為を試みること
            </p>
        </li>
        <li>
            <p>
                その他、運営者が不適切と判断する行為
            </p>
        </li>
    </ol>
    <h3>第5条（本サービスの停止等）</h3>
    <p>
        運営者は、以下のいずれかに該当する場合には、登録ユーザーに事前に通知することなく、本サービスの全部または一部の提供を停止または中断することができるものとします。
    </p>
    <ol>
        <li>
            <p>
                本サービスに係るコンピュータ・システムの点検または保守作業を緊急に行う場合
            </p>
        </li>
        <li>
            <p>
                コンピュータ、通信回線等の障害、誤動作、過度なアクセスの集中、不正アクセス、ハッキング等により、本サービスの運営ができなくなった場合
            </p>
        </li>
        <li>
            <p>
                地震、落雷、火災、風水害、停電、天災地変などの不可抗力により本サービスの運営ができなくなった場合
            </p>
        </li>
        <li>
            <p>
                その他、運営者が停止または中断が必要と判断した場合
            </p>
        </li>
    </ol>

    <h3>第6条（権利帰属）</h3>
    <ol>
        <li>
            <p>
                当Webサイトおよび本サービスに関する知的財産権は全て運営者または運営者にライセンスを許諾しているものに帰属しており、本規約に基づく本サービスの利用許諾は、当Webサイトまたは本サービスに関する運営者または運営者にライセンスを許諾している者の知的財産権の使用許諾を意味するものではありません。
            </p>
        </li>
        <li>
            <p>
                登録ユーザーは、投稿データについて、自らが投稿その他送信することについて適法な権利を有していること、および投稿データが第三者の権利を侵害していないことについて、運営者に対し表明し、保証するものとします。
            </p>
        </li>
        <li>
            <p>
                登録ユーザーは、投稿データについて、運営者に対し、世界的、非独占的、無償、サブライセンス可能かつ譲渡可能な使用、複製、配布、派生著作物の作成、表示および実行に関するライセンスを付与します。また他の登録ユーザーに対しでも、本サービスを利用して登録ユーザーが投稿その他送信した投稿データの使用、複製、配布、派生著作物を作成、表示および実行することについての非独占的なライセンスを付与します。
            </p>
        </li>
        <li>
            <p>
                登録ユーザーは、運営者および運営者から権利を承継し、または許諾された者に対して著作者人格権を行使しないことに同意するものとします。
            </p>
        </li>
    </ol>
    <h3>第7条（登録抹消等）</h3>
    <p>
        運営者は、登録ユーザーが、以下の各号のいずれかの事由に該当する場合は、事前に通知または催告することなく、投稿データを削除もしくは非表示にし、当該登録ユーザーについて本サービスの利用を一時的に停止し、または登録ユーザーとしての登録を抹消することができます。
    </p>
    <ol>
        <li>
            <p>
                本規約のいずれかの条項に違反した場合
            </p>
        </li>
        <li>
            <p>
                運営者からの問い合わせその他の回答を求める連絡に対して1ヶ月以上応答がない場合
            </p>
        </li>
        <li>
            <p>
                反社会勢力等（暴力団、暴力団員、右翼団体、反社会的勢力、その他これに準ずるものを意味する、以下同じ）または資金提供その他を通じて反社会的勢力の維持、運営もしくは経営に協力もしくは関与する等、反社会勢力等と何かしらの交流もしくは関与を行なっていると運営者が判断した場合
            </p>
        </li>
        <li>
            <p>
                過去運営者との契約に違反した者またはその関係者であると運営者が判断した場合
            </p>
        </li>
        <li>
            <p>
                その他、運営者が本サービスの利用または登録ユーザーとしての登録の継続が適当でないと判断した場合
            </p>
        </li>
    </ol>

    <h3>第8条（退会）</h3>
    <ol>
        <li>
            <p>
                登録ユーザーは、運営者所定の手続きの完了により、本サービスから退会し、自己の登録ユーザーとしての登録を抹消することができます。
            </p>
        </li>
        <li>
            <p>
                退会後の利用者情報の取り扱いについては、第12条の規定に従うものとします。
            </p>
        </li>
    </ol>
    <h3>第9条（本サービスの内容の変更、終了）</h3>
    <ol>
        <li>
            <p>
                運営者は、運営者の都合により、本サービスの内容を変更し、または提供を終了することができます。
            </p>
        </li>
        <li>
            <p>
                運営者が本サービスの提供を終了する場合、運営者は登録ユーザーに事前に通知するものとします。
            </p>
        </li>
    </ol>
    <h3>第10条（保証の否認および免責）</h3>
    <ol>
        <li>
            <p>
                運営者は、本サービスが登録ユーザーの特定の目的に適合すること、期待する機能、正確性、有用性を有すること、登録ユーザーにより本サービスの利用が登録ユーザーに適用のある法令または業界団体の内部規制等に適合すること、継続的に利用できること、および不具合が生じないことについて、明示または黙示を問わず何ら保証するものではありません。
            </p>
        </li>
        <li>
            <p>
                本サービスまたは当Webサイトに関連して登録ユーザーと他の登録ユーザーまたは第三者との間において生じた連絡、対立等については、登録ユーザーが自己責任によって解決するものとします。
            </p>
        </li>
    </ol>
    <h3>第11条（秘密保持）</h3>
    <p>
        登録ユーザーは、本サービスに関連して運営者が登録ユーザーに対して秘密に取り扱うことを求めて開示した非公知の情報について、運営者の事前の書面による承諾場合を除き、秘密に取り扱うものとします。
    </p>
    <h3>第12条（利用者情報の取り扱い）</h3>
    <ol>
        <li>
            <p>
                運営者による登録ユーザーの利用者情報の取り扱いについては、別途当プライバシーポリシーの定めによるものとし、登録ユーザーはこのプライバシーポリシーに従って運営者が登録ユーザーの利用者情報を取り扱うことについて同意するものとします。
            </p>
        </li>
        <li>
            <p>
                運営者は、登録ユーザーが運営者に提供した情報、データ等を、個人を特定できない形での統計的な情報として、運営者の裁量で、利用および後悔することができるものとし、登録ユーザーはこれに異議を唱えないものとします。
            </p>
        </li>
    </ol>
    <p>プライバシーポリシーについては<%= link_to("こちら", "/privacy") %>をご覧ください。</p>
    <h3>第13条（本規約等の変更）</h3>
    <p>
        運営者は、運営者が必要と認めた場合は、本規約を変更できるものとします。本規約を変更する場合、変更後の本規約の施行時期及び内容を当Webサイト場での掲示その他の適切な方法により周知し、または登録ユーザーに通知します。ただし、法令上登録ユーザーの同意が必要となるような内容の変更の場合は、運営者所定の方法で登録ユーザーの同意を得るものとします。
    </p>
    <h3>第14条（連絡および通知）</h3>
    <ol>
        <li>
            <p>
                本サービスに関する問い合わせその他登録ユーザーから運営者に対する連絡または通知、及び本規約の変更に関する通知その他運営者から登録ユーザーに対する連絡または通知は、運営者の定める方法で行うものとします。
            </p>
        </li>
    </ol>
    <h3>第15条（サービス利用規約上の地位の譲渡等）</h3>
    <ol>
        <li>
            <p>
                登録ユーザーは、運営者の書面による事前の承諾なく、利用契約上の地位または本気役に基づく権利もしくは義務につき、第三者に対し、譲渡、移転、その他の処分をすることはできません。
            </p>
        </li>
        <li>
            <p>
                運営者は本サービスにかかる事業を他人に譲渡した場合には、当該事業譲渡に伴い利用規約上の地位、本規約に基づく権利および義務ならびに登録ユーザーの登録事項その他の情報を当該事業場どの譲受人に譲渡することができるものとし、登録ユーザーは、かかる譲渡につき本項においてあらかじめ同意したものとします。
            </p>
        </li>
    </ol>
    <h3>第16条（分離可能性）</h3>
    <p>
        本規約のいずれかの条項またはその一部が、法令等により無効または執行不能と判断された場合出会っても、本規約の残りの規定及び一部が無効または執行不能と判断された場合であっても、本規約の残りの規定及び一部が無効または執行不能と判断された規定の残りの部分は、継続して完全に効力を有するものとします。
    </p>
    <h3>第17条（準拠法）</h3>
    <ol>
        <li>
            <p>本規約の準拠法は日本法とします。

            </p>
        </li>
        <li>
            <p>
                本サービスに関して紛争が生じた場合には、運営者の本店所在地を管轄する裁判所を専属的合意管轄とします。
            </p>
        </li>
    </ol>
    <p>【2020年3月14日制定】</p>
</div>
