<div id="js-top-background" class="top-background">
    <h1>ひらめきをホメよう</h1>
    <p>『Praidea』は、アイデアを共有し褒め合うことによってアイデアマンのモチベーションの向上を目的としたサービスです。</p>
</div>
<div class="features-section">
    <h2>特徴</h2>
    <div class="features-container">
        <div class="feature">
            <div class="image"></div>
            <h3>簡単ホメ機能</h3>
            <p>『Praidea』ではリプの代わりに「スタンプ」と呼ばれるホメ言葉をクリックするだけです。</p>
        </div>
        <div class="feature">
            <div class="image"><%= image_tag("NoKusoRep.png") %></div>
            <h3>クソリプの心配なし</h3>
            <p>『Praidea』にはリプライ機能もシェア機能も搭載しておりません。そのため第三者による批判的コメントならびに炎上コメントなどの心配は一切ございません。ちょっとしたくだらないアイデアやひらめきだって構いませんのでどんどん投稿してください。（政治や宗教等を批判・風刺するようなブラックすぎるアイデアの投稿は禁止です。詳細については<%= link_to("利用規約","/terms") %>をご覧ください。）</p>
        </div>
    </div>
</div>
